.buy-item-container {
    position: relative;
    text-align: center;
    margin: 50px;
    color: white;

}

.buy-item-detail {
    color: rgb(16, 217, 113);
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
}

@media only screen and (max-width:692px) {
    .buy-item-detail {
        bottom: 0px;
        padding: 0px;
    }
}