.about {
    display: flex;
    margin: 50px;
}

.about-img {
    margin: 50px;
    border-radius: 40%;
}

.about-text {
    color: rgb(214, 172, 238);
    display: flex;
    margin-top: 100px;
}


/********************************************
     responsive design for mobile devices 
**********************************************/

@media only screen and(max-width:692px) {
    .about {
        flex-direction: column;
    }
}