.form-container {
    text-align: center;
    width: 450px;
    height: 650px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.input-group {
    width: 100%;
    display: block;
}

.input-group {
    width: 100%;
    display: block;
}

.input-group input {
    width: 80%;
    height: 40px;
    font-size: 15px;
    padding-left: 5px;
    margin-bottom: 18px;
    border: 1px solid rgb(149, 230, 29);
    font-size: 16px;
}

.form-btn {
    background-color: rgb(149, 230, 29);
    color: black;
    font-weight: bold;
    margin-top: 15px;
}

.form-btn:hover {
    background-color: white;
    border: 1px solid rgb(149, 230, 29);
}

.form-link {
    color: rgb(149, 230, 29);
    text-decoration: none;
}