.inventory-title {
    font-size: 35px;
    margin-top: 80px;
    color: rgb(149, 230, 29);
    text-align: center;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 80px;
}

.manage-inventories {
    text-align: center;
    margin-top: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(230, 59, 29);
    border-radius: 15px;
    font-weight: bold;
    border: none;
    color: white;
}

.manage-inventories:hover {
    background-color: white;
    color: red;
}


/********************************************
     responsive design for mobile devices 
**********************************************/

@media only screen and (max-width:692px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
    }
}