.about {
    display: flex;
    margin: 60px;
}

.about-img {
    margin: 30px;
    border-radius: 40%;
}

.about-text {
    color: rgb(214, 172, 238);
    margin-top: 80px;
}


/********************************************
     responsive design for mobile devices 
**********************************************/

@media only screen and (max-width:692px) {
    .about {
        flex-direction: column;
        margin: 15px;
    }

    .about-text {
        margin-top: 10px;
    }
}